.App {
  padding: 0px;
  margin: 0px;
}
.left {
  width: 570px;
  height: 85vh;
}
.right {
  width: 550px;
  height: 85vh;
}
.logo {
  position: relative;
  width: 100%;
  height: 70px;
  padding-left: 4%;
  padding-top: 13px;
}

.dms {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #030026;
  position: relative;
  top: 5px;
  left: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  padding-left: 5px;
}
.largeText {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  margin-top: 5px;
}
.smallerText {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
  width: 400px;
  margin: auto;
}
.getStarted {
  width: 126px;
  height: 44px;
  color: #ffffff;
  background: #053582;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  margin: auto;
  margin-top: 50px;
}
.jimg {
  width: 157px;
  height: 157px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-section {
  width: 500px;
  height: 450px;
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
}
.top-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 40px;
}
.info-text1 {
  font-weight: bold;
  font-size: 28px;
  color: #393939;
}
.info-text2 {
  font-size: 14px;
  letter-spacing: 0.003em;
  color: #404040;
  margin-top: -10px;
}
.form {
  width: 416px;
  height: 162px;
  margin: auto;
  margin-top: 20px;
}
.textbox {
  width: 415px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e2e2ea;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
}
.submit-btn {
  width: 82px;
  height: 44px;
  font: #ffffff;
  background: #053582;
  border-radius: 10px;
}

.login {
  color: #ffffff;
}
.fgp {
  color: #244e92;
  margin-left: 300px;
  font-size: 14px;
}
.regnow {
  margin-top: 40px;
}
.loginbx {
  margin-left: 80px;
}
.regnowlink {
  color: #244e92;
}
.register-section {
  width: 400px;
  height: 570px;
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  margin-left: 100px;
}

.namebx {
  display: flex;
  justify-content: space-between;
}
.cnamebx,
.nnamebx {
  width: 150px;
}
.input {
  border-radius: 8px;
}
.policy {
  color: #345b99;
}
.terms {
  font-size: 11px;
  font-weight: 600;
}
.rit1 {
  font-weight: bold;
  font-size: 28px;
  color: #393939;
  margin-top: -15px;
  margin-left: -40px;
  margin-bottom: 10px;
}
.rit2 {
  font-size: 14px;
  letter-spacing: 0.003em;
  color: #404040;
  margin-top: -15px;
  margin-left: -40px;
  margin-bottom: 30px;
}
.progress {
  height: 5px;
  margin-top: 20px;
}
.progress-bar {
  background-color: #053582;
  /*width: 75%;*/
  height: 5px;
}
.reg-form-footer {
  margin-top: 30px;
}
.reg {
  background-color: #053582;
  color: #ffffff;
  border-radius: 7px;
  position: relative;
  right: -120px;
  font-size: 13px;
}
.signin {
  color: #053582;
}
.got {
  font-size: 12px;
}
/*Dashbord*/
.top-nav {
  height: 50px;
  background-color: #ffffff;
  position: fixed;
}
.details {
  /*background-color: red;*/
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.name {
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.account-type {
  font-weight: normal;
}
.logoimg {
  margin-left: 10px;
  margin-top: 10px;
}
.profile-img {
  height: 35px;
}
.sidenav {
  padding-top: 90px;
  height: 100vh;
  background-color: #ffffff;
}
.dash-board-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 30px;
  width: 180px;
  padding-left: 30px;
}
.dashboard-nav-icon {
  width: 16px;
  height: 16px;
  padding-left: 0px;
  margin-left: 10px;
}
.nav-link-text {
  font-size: 12px;
}
.dashboard-nav-link {
  text-decoration: none;
  color: #a8a8a8;
}
.row {
  background-color: #e5eff4;
}
.active-side-nav {
  color: #053582;
  background-color: #e8f0fe;
}

.active-link {
  color: #053582;
}
.dashboard-label {
  margin-top: 70px;
  font-size: 25px;
  font-weight: bold;
  /* background-color: red; */
}
.graphs {
  margin-top: 10px;
  display: flex;
}

.stats-left {
  /* background- color: blue; */
  width: 350px;
}
.stats-right {
  /* background-color: green; */
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  flex-wrap: wrap;
}
.data-card {
  height: 110px;
  width: 250px;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  border: 0px solid #ffffff;
}
.du-up {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.du-up-text {
  font-size: 15px;
  font-weight: bold;
  width: 120px;
}
.du-up img {
  height: 30px;
}
.du-down {
  display: flex;
  padding-left: 15px;
  margin-top: 5px;
}
.du-down-text {
  color: #ff3a29;
  font-size: 24px;
  font-weight: bold;
  /* background-color: grey; */
}
.du-down img {
  /* background-color: blue; */
  height: 23px;
  width: 40px;
  margin-bottom: 12px;
  margin-left: 5px;
}
.sodp {
  background-color: #ffffff;
  width: 170px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 15px;
}
.sodp-value {
  font-size: 30px;
  font-weight: 500;
}
.sodp-text {
  font-size: 12px;
  margin-top: -5px;
}
.sodp-image {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sodp-percent {
  color: #ff3a29;
  font-size: 18px;
}
.sodp-graph-image {
  height: 35px;
}
.sodp-footnote {
  font-weight: 400;
  font-size: 12px;
}
.orders-today {
  height: 240px;
  background-color: #ffffff;
  width: 500px;
  border-radius: 10px;
}
/* .bc-w {
  background-color: #ffffff;
}
.bc-lw {
  background-color: rgba(245, 245, 245, 0.62);
} */
.ept {
  background-color: #ffffff;
  height: 240px;
  margin-top: 20px;
  border-radius: 10px;
  width: 270px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.delivered-orders {
  background-color: #ffffff;
  height: 240px;
  margin-top: 20px;
  border-radius: 10px;
  width: 400px;
}
.epu-tag {
  font-weight: 700;
  font-size: 15px;
}
.epu-text,
.epd-location,
.eov-tag,
.epv-tag {
  font-weight: 400;
  font-size: 10px;
  color: #92929d;
}
.epd-name {
  font-weight: 700;
  font-size: 13px;
}
.epd-order-value {
  color: #ff3a29;
  font-weight: 600;
  font-size: 18px;
}

.epd-pool-value {
  color: #4339f2;
  font-weight: 600;
  font-size: 18px;
}

.epd-image {
  width: 80px;
  height: 70px;
}
.epu {
  display: flex;
  flex-direction: column;
}
.epd {
  display: flex;
}
.epdl {
  display: flex;
  flex-direction: column;
}
.epdr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}
.ep-price {
  font-size: 24px;
  font-weight: 700;
}
.ep-note {
  font-weight: 400;
  font-size: 10px;
}
.ep-graph {
  height: 30px;
  width: 100px;
  margin-left: 10px;
}
.doheader {
  font-weight: 500;
  font-size: 20px;
}
.delivered-orders {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.do-day {
  font-size: 10px;
  font-weight: 400;
  color: #92929d;
  /* background-color: yellow; */
}
.do-progress-bar {
  display: flex;
  flex-direction: row-reverse;
  width: 290px;
  /* background-color: blue; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.do-progress-scale {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  font-size: 10px;
  opacity: 0.4;
  color: #92929d;
}
